@import url("../../App.css");
.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  color: color;
  padding: 2rem;
}
.socialIcons {
  height: 50px;
  width: 50px;
  margin: 20px 0px;
}
#footer-title {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #fff;
}
