@import url("../../App.css");
.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  color: white;
  color: color;
  border: solid 2px white;
}
.socialIcons {
  height: 50px;
  width: 50px;
}
#footer-title {
  font-size: 1.5em;
  margin-bottom: 3px;
  color: #fff;
}
